@import "../../../responsive.scss";

.propertyPage {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .details {
    flex: 3;
    min-width: 60%;

    .wrapper {
      padding-right: 50px;

      &:has(.fullscreenActive) {
        padding-right: 0px;
      }

      @include sm {
        flex: auto;
        padding-right: 0;

        &.fullscreenActive {
          padding-right: 0;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;

        p {
          font-size: 0.85rem;
        }

        .top {
          display: flex;
          justify-content: space-between;

          @include sm {
            flex-direction: column;
            gap: 1rem;
          }

          .post {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 7px;

            h1 {
              // margin-bottom: 10px;
              // -webkit-box-orient: vertical;
              // line-clamp: 1;
              // display: -webkit-box;
              // margin-bottom: 10px;
              margin-block: 0.25rem;
              // width: 80%;
              // -webkit-line-clamp: 1;
              // overflow: hidden;
              font-weight: 600;
              // text-overflow: ellipsis;

              @include sm {
                font-size: 1.85rem;
              }
            }

            .address {
              display: inline-flex;
              align-items: center;
              gap: 5px;
              color: hsl(0, 0%, 53%);
              font-size: 0.85rem;

              svg {
                width: 1rem;
              }
            }

            .price {
              border-radius: 5px;
              background-color: hsl(var(--color-primary), 0.1);
              padding: 0.25em;
              padding-right: 0.4em;
              width: max-content;
              color: hsl(0, 0%, 30%);
              font-weight: 700;
              font-size: 1rem;
              line-height: 1;
              font-family: monospace;
            }
          }

          .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            border-radius: 10px;
            background-color: hsl(var(--color-primary), 0.3);
            padding: 0.5em 1.25em;
            height: fit-content;
            font-weight: 400;

            @include sm {
              flex-shrink: 0;
              flex-direction: row;
              gap: 10px;
              border: 1px solid #999;
              background-color: transparent;
              padding: 10px;
              width: fit-content;
              color: #383838;
              font-weight: 500;

              img {
                width: 15px;
                height: 15px;
              }
            }

            img {
              border-radius: 50%;
              width: 50px;
              height: 50px;
              object-fit: cover;
            }
          }
        }

        .bottom {
          text-wrap: pretty;
          font-size: 1rem;
        }
      }
    }
  }

  .features {
    flex: 2;
    background-color: hsl(var(--color-background-secondary));
    padding-bottom: 2rem;
    height: max-content;

    @include sm {
      margin-top: 2rem;
      max-width: 100%;
    }

    .wrapper {
      padding: 0 20px;

      section {
        h2 {
          margin-top: 1rem;
          margin-bottom: 0.75rem;
          font-weight: 600;
          font-size: 1.05rem;
        }

        span {
          font-size: 0.75rem;
        }

        svg {
          padding: 0.15em;
          width: 1.75rem;
          height: 1.75rem;
        }

        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 15px;
          border-radius: 10px;
          background-color: white;
          padding: 10px;
          list-style-type: none;

          &.listHorizontal {
            @include sm {
              flex-direction: column;
              align-items: start;
            }
          }

          li {
            display: flex;
            align-items: center;
            gap: 10px;

            strong {
              font-weight: 600;
              font-size: 0.85rem;
              line-height: 1.05;
              letter-spacing: -0.1px;
            }

            & > span {
              display: flex;
              flex-direction: column;
            }
          }

          &.listVertical {
            flex-direction: column;
            align-items: start;
          }

          &.sizes {
            background-color: transparent;
            padding: 0;

            li {
              border-radius: 10px;
              background-color: white;
              padding: 0.5em 1em;

              @include sm {
                flex: 1;
                flex-direction: column;
                // min-width: max-content;
              }
            }
          }
        }
      }

      .mapContainer {
        width: 100%;
        height: 200px;
      }

      .actions {
        display: flex;
        gap: 10px;
        margin-top: 1rem;

        button {
          display: flex;
          flex: 1;
          align-items: center;
          gap: 10px;
          border: none;
          border-radius: 5px;
          background-color: white;
          padding: 0.5em 0.85em;
          font-size: 0.75rem;

          &:hover {
            background-color: hsl(var(--color-primary), 0.8);
            color: hsl(var(--color-primary-foreground));
          }

          svg {
            stroke-width: 1px;
          }
        }
      }
    }
  }
}
